<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/styles.css">
    <title>Vos coups de cœur</title>
</head>

<body>
    <%- include('../partials/header') %>
    
    <div class="coups-de-coeur-container">
        <h1>Vos coups de cœur</h1>
        <div class="coups-de-coeur-list">
            <% tomes.forEach(function(tome) { %>
                <div class="manga-card">
                    <!-- Image à gauche -->
                    <a href="/tome/<%= tome.isbn %>">
                        <img src="<%= tome.image %>" alt="<%= tome.titre_serie %> - Tome <%= tome.numero_volume %>">
                    </a>

                    <!-- Informations du manga -->
                    <div class="manga-info">
                        <p class="title"><%= tome.titre_serie %> - Tome <%= tome.numero_volume %></p>
                        <p class="author">Auteur : <%= tome.auteur %></p>
                    </div>

                    <!-- Prix et Bouton -->
                    <div class="manga-actions">
                        <p class="price"><%= tome.prix %> $</p>
                        <form action="/panier/<%= tome.isbn %>/ajouter" method="POST">
                            <button type="submit" class="add-to-cart-btn">Ajouter au panier</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>

</html>
