<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
        <%- include('../partials/header') %>
            <title>Coups de cœur</title>
</head>

<body>
    <% if (tomes.length===0) { %>
        <div class="panier-vide">
            <p>Vous n'avez aucun coups de Coeur.</p>
            <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
        <% } else { %>
            <div class="coups-de-coeur-container">
                <h1>Vos coups de cœur</h1>
                <div class="coups-de-coeur-list">
                    <% tomes.forEach(function(tome) { %>
                        <div class="manga-card">
                            <p class="title">
                                <%= tome.titre_serie %> Tome <%= tome.numero_volume %>
                            <p>
                            <img src="<%= tome.image %>" alt="<%= tome.titre_serie %>">
                            <p>
                                <%= tome.synopsis %>
                            </p>
                        </div>
                        <% }); %>
                </div>
                <% } %>
            </div>

            <%- include('../partials/footer') %>
</body>

</html>