<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <title>Panier</title>
</head>
<body>
    <%- include('../partials/header') %>

<div class="manga-list">
    <% articles.forEach(article=> { %>
        <div class="manga-card">
            <img src="<%= article.image %>" alt="<%= article.titre_serie %> Tome <%= article.numero_volume %>">
            <p class="title">
                <%= article.titre_serie %> Tome <%= article.numero_volume %>
            </p>
            <p class="price">
                <%= article.prix_unitaire %>$
            </p>
            <form action="/panier/<%= article.isbn %>/supprimer" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
        <% }) %>
</div>